// global  /////////////////////////
@media (max-width: 1440px) {
  .box__pages {
    top: 15vh;

    & .text {
      max-width: 450px;
      padding: 0 5%;
    }
  }
}

@media (max-width: 1200px) {
  .row {
    width: 25%;

    &:nth-child(1) {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .row {
    width: 33.33333%;

    &:nth-child(-n + 2) {
      display: none;
    }
  }

  // Fullpage points
  #fp-nav ul li,
  .fp-slidesNav ul li {
    width: 50px;
    margin-bottom: 16px;
  }

  #fp-nav ul li a,
  .fp-slidesNav ul li a {
    padding: 8px 0;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    width: 20px;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    width: 50px;
  }

  #fp-nav ul li:hover a span,
  .fp-slidesNav ul li:hover a span {
    width: 50px;
  }

  #fp-nav ul li .fp-tooltip.right {
    right: 60px;
    display: none;
  }

  #fp-nav ul li .fp-tooltip {
    top: -2px;
  }

  // Button
  .btn {
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .intro__btn {
    margin-top: 25px;
  }

  // Title
  .suptitle {
    font-size: 0.5rem;
  }

  .title {
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  .box__pages {
    top: 20vh;
  }

  // Fullpage points
  #fp-nav.right {
    right: 10px;
  }

  #fp-nav ul li,
  .fp-slidesNav ul li {
    width: 12px;
    height: 12px;
    margin: 0;
    border-radius: 50%;
    margin-bottom: 6px;
  }

  #fp-nav ul li a,
  .fp-slidesNav ul li a {
    padding: 0;
    border-radius: 50%;
    padding: 3px 0;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    @include center;
  }

  #fp-nav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li a.active span,
  .fp-slidesNav ul li:hover a.active span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  #fp-nav ul li:hover a span,
  .fp-slidesNav ul li:hover a span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }

  // Arrows
  :root {
    --swiper-navigation-size: 30px;
  }

  .ourServices .swiper-button-next,
  .ourServices .swiper-button-prev {
    top: 65%;
  }

  .portfolio .swiper-button-next,
  .portfolio .swiper-button-prev {
    top: 90%;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
  }

  // Pagination
  .ourServices .swiper-container-horizontal > .swiper-pagination-progressbar,
  .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 50px;
  }
}

@media (max-width: 500px) {
  .suptitle {
    padding-left: 50px;

    &::before {
      width: 40px;
    }
  }
  .title {
    font-size: 2rem;
  }

  .grid {
    display: none;
  }
}

// header  /////////////////////////
@media (max-width: 1400px) {
  .header__logo {
    top: 20px;
    left: 30px;
  }

  .nav-but-wrap {
    top: 30px;
    right: 30px;
  }

  .footer {
    padding: 0 30px 20px;
  }
}

@media (max-width: 500px) {
  .header__logo {
    top: 10px;
    left: 20px;
  }

  .nav-but-wrap {
    top: 20px;
    right: 20px;
  }

  .footer {
    padding: 0 8px 5px 10px;
  }

  .social__icon {
    width: 16px;
    height: 16px;
  }

  .social__link {
    & + .social__link {
      margin-left: 0px;
    }
  }
}

// intro  /////////////////////////
@media (max-width: 1200px) {
  .intro__title {
    font-size: 6rem;
  }
  .intro__subtitle {
    margin-top: -20px;
  }
}

@media (max-width: 650px) {
  .intro__box {
    margin-top: 10%;
  }

  .intro__title {
    font-size: 3rem;

    &::before {
      height: 4px;
    }
  }
  .intro__subtitle {
    margin-top: -10px;
  }

  .arrows {
    width: 40px;
    height: 52px;
  }
}

// aboutUs  /////////////////////////
@media (max-width: 1550px) {
  .aboutUs__box {
    padding-left: 5%;
  }
}

@media (max-width: 1200px) {
  .aboutUs__bgText {
    font-size: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .aboutUs__wrapper {
    justify-content: center;
    align-items: center;
  }

  .aboutUs__inner {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 4rem 0 4rem;
  }

  .aboutUs__image {
    position: absolute;
    width: 100%;
    display: none;
  }

  .aboutUs__box {
    width: 100%;
    z-index: 2;
    text-align: center;
    padding-left: 5%;
    padding-right: 8%;
  }

  .aboutUs__suptitle {
    padding: 0;
    display: inline-block;

    &::before {
      width: 20px;
      height: 1px;
      left: -30px;
      top: 49%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 1px;
      right: -27px;
      background-color: $red;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .aboutUs__text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .aboutUs__items {
    height: auto;
    width: 100%;
  }

  .aboutUs__item {
    width: 50%;
    margin-bottom: 5%;
  }

  .aboutUs__item-num {
    color: $red;
    font-size: 2.5rem;
    margin-top: -0.7rem;
    margin-right: 0.5rem;
  }

  .aboutUs__item-text {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (max-width: 800px) {
  .aboutUs__bgText {
    font-size: 6rem;
  }

  .aboutUs__title {
    margin-bottom: 1.5rem;
  }

  .aboutUs__btn {
    margin-top: 0.5rem;
  }
}

@media (max-width: 650px) {
  .aboutUs__bgText {
    font-size: 3.7rem;
  }

  
}

// MAX-HEIGHT /////////////////////////
@media (max-height: 800px) {
  .aboutUs__inner {
    margin: 0rem 0 2rem;
  }
}

@media (max-height: 650px) {
  .aboutUs__inner {
    margin: 0;
  }
  .aboutUs__items {
    display: none;
  }
}
// MAX-HEIGHT ^^^^^^^^^^^^^^^^^^^

// Our Services  /////////////////////////
@media (max-width: 1400px) {
  .ourServices__item {
    width: 33.33333vw;

    .rect {
      background-color: rgba(#000, 0.2);
    }
  }
}

@media (max-width: 1200px) {
  .services__popup {
    flex-direction: column;
  }

  .services__popup-slider {
    width: 100%;
    height: 100%;
    order: 2;
  }

  .services__popup-box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7% 10%;
    width: 100%;
    height: auto;
    order: 1;
    z-index: 3;
    background: rgba(#111114, 0.8);

    &::before {
      width: 100px;
      height: 100px;
      top: -50px;
      left: -50px;
      background-color: #fff;
    }
    &::after {
      width: 100px;
      height: 100px;
      bottom: -50px;
      right: -50px;
      background-color: #fff;
    }
  }

  .services__popup .swiper-button-next,
  .services__popup .swiper-button-prev {
    top: 60%;
  }

  .services__popup .swiper-container-horizontal > .swiper-pagination-progressbar,
  .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 30px;
  }

  .mfp-close {
    font-size: 2rem;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1000px) {
  .ourServices__item {
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .ourServices__item {
    width: 100vw;
  }

  .ourServices__image {
    img {
      transform: scale(1.05);
    }
  }

  .ourServices__zoom {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .zoom__icon {
    width: 50px;
    height: 50px;
  }

  svg.pulse-svg {
    opacity: 1;
    width: 40px !important;
    height: 40px !important;

    .circle {
      animation: pulse-me 8s linear infinite;
    }
    .second-circle {
      animation-delay: 5s;
    }
    .third-circle {
      animation-delay: 2s;
    }
  }

  .services__popup-box {
    &::before {
      width: 70px;
      height: 70px;
      top: -35px;
      left: -35px;
    }
    &::after {
      width: 70px;
      height: 70px;
      bottom: -35px;
      right: -35px;
    }
  }

  .services__popup-suptitle {
    margin-bottom: 0.5rem;
  }

  .services__popup-title {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
}

// Portfolio  /////////////////////////
@media (max-width: 1700px) {
  .portfolio__item-box {
    right: 2.5rem;
    bottom: 3.5rem;
  }

  .portfolio__item-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .portfolio__item-arrow {
    font-size: 0.6rem;
  }

  .arrow__icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 1400px) {
  .portfolio__slider {
    margin-left: 0;

    .portfolio__item-popup {
      will-change: transform;
      transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    }

    // Active slide
    .swiper-slide-active {
      transform: scale(1.15);

      .portfolio__item-popup {
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2);
      }

      .portfolio__item-img {
        .rect {
          background-color: rgba(#000, 0.2);
        }
      }

      .portfolio__item-box {
        opacity: 1;
      }

      .portfolio__item-name {
        transform: translateY(-100%);
      }

      .portfolio__item-arrow {
        transform: translateY(0);
        opacity: 1;
      }
    }
    // Active slide^^^^^^^^
  }

  .portfolio__item {
    width: 30vw;
    height: 36vw;

    &:nth-child(even) {
      margin-top: 0;
    }
  }

  .portfolio__item-box {
    right: 17%;
    bottom: 17%;
  }
}

@media (max-width: 1024px) {
  .portfolio__bgText {
    font-size: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .portfolio__item-box {
    &::before {
      height: 2px;
    }
  }

  .portfolio__item-name {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .portfolio__item-arrow {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;

    span {
      margin-right: 0.2rem;
    }
  }

  .arrow__icon {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 769px) {
  .portfolio__bgText {
    font-size: 5rem;
  }

  .portfolio__item {
    width: 50vw;
    height: 56vw;
  }
}

@media (max-width: 500px) {
  .portfolio__slider-inner {
    margin-top: 35px;
  }

  .portfolio__item {
    width: 70vw;
    height: 90vw;
  }

  .portfolio__btn {
    margin-top: 50px;
  }
}

// Our Contacts  /////////////////////////
@media (max-width: 1200px) {
  .ourContacts__bgText {
    font-size: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .ourContacts__title {
    font-size: 3rem;
  }

  .ourContacts__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ourContacts__box {
    width: 100%;
    height: auto;
    padding: 0 5% 2%;
    text-align: center;
    align-items: center;
  }

  .ourContacts__info {
    flex-direction: row;
    margin-top: 25px;
  }

  .ourContacts__item {
    flex-direction: column;
    width: 33.33333%;
  }

  .ourContacts__logo {
    margin-right: 0;
    margin-bottom: 0.2rem;
  }

  .ourContacts__map {
    width: 100%;
    height: 50%;
  }

  .ourContacts__adress,
  .ourContacts__tel,
  .ourContacts__email {
    font-size: 0.8rem;
  }

  .ourContacts__icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 760px) {
  .ourContacts__bgText {
    font-size: 5rem;
  }

  .ourContacts__title {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .ourContacts__box {
    padding: 0 3%;
  }

  .ourContacts__item {
    margin-bottom: 20px;
  }

  .ourContacts__adress,
  .ourContacts__tel,
  .ourContacts__email {
    font-size: 0.6rem;
  }

  .ourContacts__map {
    width: 100%;
    height: 30%;
  }
}

@media (max-width: 500px) {
  .ourContacts__bgText {
    font-size: 3rem;
  }
}


// Services  /////////////////////////
@media (max-width: 1600px) {
  .services__item-box {
    padding: 30px 45px;
  }
  .services__item-title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .services__item-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 1440px) {
  .services__inner {
    width: 90%;
    margin-top: 40vh;
  }

  .services__col {
    padding: 0 1rem;
    height: 40vw;
  }

  .services__item {
    will-change: transform;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
  }
  .services__rect {
    background-color: rgba(#000, 0.2);
  }
  .services__item-title,
  .services__item-text {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .services__bgText {
    font-size: 8rem;
  }

  .services__col {
    width: 50%;
    height: 55vw;
    margin-top: 5rem;

    &:nth-child(odd) {
      margin-top: 0;
    }
  }
}

@media (max-width: 650px) {
  .services__bgText {
    font-size: 4rem;
  }

  .services__inner {
    margin-top: 50vh;
  }
}

@media (max-width: 600px) {
  .services__inner {
    width: 100%;
  }
  .services__col {
    padding: 0;
    width: 100%;
    height: 120vw;
    margin-top: 3rem !important;
  }
}

// Works  /////////////////////////
@media (max-width: 1440px) {
  .works__inner {
    padding: 0 3%;
    margin-top: 40vh;
  }
  .works__col {
    padding: 0 1rem;
  }
}

@media (max-width: 1024px) {
  .works__col {
    width: 50%;

    &:nth-child(3) {
      display: none;
    }
  }
  .works__item {
    margin-bottom: 1.5rem;
  }

  .works__item-box {
    margin-top: 0.8rem;
  }

  .works__item-title {
    margin-bottom: 0.3rem;
  }
}

@media (max-width: 768px) {
  .works__bgText {
    font-size: 9rem;
  }

  .works__inner {
    padding: 0 1%;
  }
}

@media (max-width: 650px) {
  .works__inner {
    margin-top: 55vh;
  }
}

@media (max-width: 600px) {
  .works__bgText {
    font-size: 5rem;
  }

  .works__inner {
    padding: 0;
  }

  .works__col {
    width: 100%;
    padding: 0;
  }

  .works__item-box {
    padding-left: 5%;
  }
}

// Contacts  /////////////////////////
@media (max-width: 1200px) {
  .contacts__bgText{
    font-size: 9rem;
  }

  .contacts__box{
    & .text{
      max-width: 450px;
      padding: 0 5%;
    }
  }

  .contacts__inner {
    width: 100%;
    padding: 0 5%;
  }

  .contacts__map {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 760px) {
  .contacts__bgText{
    font-size: 5rem;
  }

  .contacts__box{
    margin-bottom: 5%;
  }

  .contacts__inner {
    width: 100%;
    padding: 0;
  }

  .contacts__map{
    width: 100%;
    height: 30vh;
  }

  .contacts__items{
    padding: 0 2%;
  }

  .contacts__item-icon{
    margin-bottom: 8px;
  }

  .contacts__item-title{
    font-size: .8rem;
    margin-bottom: 10px;
  }

  .contacts__item{
    font-size: 0.6rem;
  }
}

@media (max-width: 500px) {
  .contacts__bgText {
    font-size: 3rem;
    margin-top: 5%;
  }
}

// footer  /////////////////////////
@media (max-width: 0px) {
}
