.intro{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url(../img/0013.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.intro__rect{
  z-index: 1;
}


.intro__inner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.intro__box{
  position: relative;
}

.intro__title{
  position: relative;
  z-index: 2;
}

.intro__title-hide{
  display: none;
}

#logo{
  height: 200px;
}

.intro__title.active #logo {
  animation: fill .5s ease forwards 3.5s;

  path:nth-child(2) {
    stroke-dashoffset: 795;
    stroke-dasharray: 795;
    animation: line-anim 2.5s ease forwards 0.8s;
  }
  path:nth-child(3) {
    stroke-dashoffset: 898;
    stroke-dasharray: 898;
    animation: line-anim 1.5s ease forwards 1.1s;
  }
  path:nth-child(4) {
    stroke-dashoffset: 833;
    stroke-dasharray: 833;
    animation: line-anim 1.5s ease forwards 1.4s;
  }
  path:nth-child(5) {
    stroke-dashoffset: 985;
    stroke-dasharray: 985;
    animation: line-anim 1.5s ease forwards 1.7s;
  }
  path:nth-child(6) {
    stroke-dashoffset: 820;
    stroke-dasharray: 820;
    animation: line-anim 1.5s ease forwards 2s;
  }
  path:nth-child(7) {
    stroke-dashoffset: 627;
    stroke-dasharray: 627;
    animation: line-anim 1.5s ease forwards 2.3s;
  }
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes fill{
  from{
    fill: transparent;
  }
  to{
    fill: #fff;
  }
}

.intro__stick{
  position: absolute;
  width: 0;
  height: 10px;
  background-color: $red;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.intro__subtitle{
  text-align: right;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.intro__btn-box{
  position: relative;
  margin-top: 50px;
  z-index: 2;
}

.intro__arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.arrows path {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /* Safari and Chrome */
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {   
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}