.aboutInfo{
  position: relative;
}

.aboutInfo__inner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.aboutInfo__image{
  width: 35%;
  height: 65vh;
  overflow: hidden;
  margin-right: 5%;

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: linear .3s;
  }
}

.aboutInfo__box{
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  position: relative;
}

.aboutInfo__bgText{
  top: -15%;
  left: 0;
  transform: translate(0);
  span{
    font-size: 5rem;
  }
}

.aboutInfo__box-title,
.aboutInfo__box-text{
  margin-bottom: 2rem;
}


.aboutInfo__contacts{
  display: flex;
  align-items: center;
}

.aboutInfo__contacts-box{
  display: flex;
  align-items: center;

  &:last-child{
    margin-left: 50px;
  }
}

.aboutInfo__contacts-icon{
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}


.aboutInfo__contacts-text{
  font-size: 0.8rem;
  color: rgba(#fff, .5);
}



