.testimonials{
  position: relative;
  margin-bottom: 10%;
}

.testimonials__inner{
  display: flex;
}

.testimonials__image-container{
  width: 50%;
  position: relative;
  
  &::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #923a11;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  }

  &::after{
    position: absolute;
    content: '';
    width: 10%;
    height: 100%;
    background-color: #0d0d0f;
  }
}

.testimonials__image{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.testimonials__slider{
  width: 50%;
  padding: 5% 0;
  margin-left: -5%;
}

.testimonials__item{
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonials__item-suptitle{
  font-size: .8rem;
  color: $red;
}

.testimonials__item-title{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.testimonials__item-icon{
  margin-bottom: 1rem;
}

.testimonials__item-text{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;

}

.testimonials__item-name{
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.testimonials__item-company{
  font-size: 0.6rem;
  color: rgba(#fff, .5);
}
