.testimonials{
  position: relative;
  margin-bottom: 5%;
  padding: 5% 0;
}

.testimonials__bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.testimonials__inner{
  max-width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.testimonials__box{
  margin-bottom: 2rem;
}


.testimonials__item{
  display: flex;
  flex-direction: column;
}

.testimonials__item-suptitle{
  font-size: 0.4rem;
}

.testimonials__item-title{
  font-size: 2rem;
  max-width: 500px;
  line-height: 1.2;
}

.testimonials__item-icon{
  margin-bottom: .5rem;
}

.testimonials__item-text{
  margin-bottom: 1rem;
  max-width: 500px;
  color: #fff;
  font-size: .9rem;
}

.testimonials__item-name{
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.testimonials__item-company{
  font-size: 0.6rem;
  color: rgba(#fff, .5);
}
